# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Task1/obj/Release/net7.0
/.vs/Delegates&Exceptions/FileContentIndex
/.vs/Delegates&Exceptions/v17/.suo
/.vs/Mod9HW/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Task1/obj/Debug/net7.0
/Task1/obj/project.assets.json
/Task1/obj/project.nuget.cache
/Task1/obj/Task1.csproj.nuget.dgspec.json
/Task1/obj/Task1.csproj.nuget.g.props
/Task1/obj/Task1.csproj.nuget.g.targets
/Task2/obj/Debug/net7.0
/Task2/obj/ExceptionTask2.csproj.nuget.dgspec.json
/Task2/obj/ExceptionTask2.csproj.nuget.g.props
/Task2/obj/ExceptionTask2.csproj.nuget.g.targets
/Task2/obj/project.assets.json
